.git
.github
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
.env
.idea
.vscode
.claude
*.sqlite
